.post{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post__header{
    display: flex;
    margin-bottom: 10px;
}

.post__info{
    margin-left: 10px;
}
.post__info >p{
    font-size: 13px;
    color: gray;
}

.post__body{
overflow-wrap: anywhere;
}

.post__button{
    display: flex;
    justify-content: space-evenly;
}